body {
    background-color: bisque;
}

.item1 {
    color: rgb(0, 128, 255);
    background-color: rgba(255, 0, 0, 0.788);
}

.item2 {
    color: rgb(11, 137, 47);
    background-color: rgb(255, 0, 119);
}
.item3 {
    color: rgb(229, 255, 0);
    background-color: rgb(0, 8, 255);
}
.item4 {
    color: rgb(93, 10, 57);
    background-color: rgb(195, 255, 0);
}
.item5 {
    color: rgb(8, 92, 109);
    background-color: rgb(48, 28, 58);
}